<div class="px-4 py-8">
    <a href="{{ routes.collections_url }}" class="text-base text-gray-500 hover:underline text-center block">Go back to collections</a>
    {% paginate collection.products by section.settings.products_per_page %} 
        <h1 class="text-3xl text-center mb-10">{{ collection.title }}</h1>
        <script>console.log({{ product | json }})</script>
        <div class="max-w-7xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                {% for product in collection.products %}
                    {% render 'product-card', product: product %}
                {% else %}
                    <p>There are no products inside of this collection</p>      
                {% endfor %}
            </div>
        </div>
        <!--{{ paginate | default_pagination }}-->
        {% render 'pagination', pagination: paginate %}
    {% endpaginate %} 
</div>

{% schema %}
{
  "name": "Template Collection",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "default": 6,
      "label": "Products per page",
      "min": 3,
      "max": 30,
      "step": 1
    }
  ]
}
{% endschema %}